version: 2
updates:
  - package-ecosystem: "maven" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "yearly"
    ignore:
      - dependency-name: "org.jetbrains.kotlinx:kotlinx-coroutines-reactor"
        versions: ["1.6.0-RC2", "1.6.0-RC3", "1.6.0"]
      - dependency-name: "org.jetbrains.kotlinx:kotlinx-coroutines-core"
        versions: ["1.6.0-RC2", "1.6.0-RC3", "1.6.0"]
      - dependency-name: "org.jetbrains.kotlinx:kotlinx-coroutines-core-jvm"
        versions: ["1.6.0-RC2", "1.6.0-RC3", "1.6.0"]
    groups:
      spring:
        patterns:
          - "*spring*"

  - package-ecosystem: "npm"
    directory: "/concert-demos-gui"
    schedule:
      interval: "yearly"
    groups:
      angular:
        patterns:
          - "@angular*"
          - "angular*"
          - "*angular*"

  - package-ecosystem: "npm"
    directory: "/e2e"
    schedule:
      interval: "yearly"
